th, td {
    text-align: center;
}

h3 {
    margin-top: 0;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.label-email {
    word-break: break-all;
}